.quiz-container{
    height: 100%;  
    max-height: 90vh;          /* necessário para ocupar toda a tela */
    margin: 5% 35%;

    
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; 
    padding: 3%;
}

.pergunta {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20% 5% 20% 5%;
    border: 3px solid;
    border-radius: 20px;
    background-color: #f0ddff;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.resposta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    padding: 0 5%;
    
    
}

.opcoes{
    border: 1px solid #a231ff;
    background-color: #c988ff;
    color: #000;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    flex: 1;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    
}

.goBack{
    padding: 10px ;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    background-color: #c988ff;
    margin: 0 35%;
    margin-top: 8%;

}

/* Desktop grande (até 1600px) */
@media (max-width: 1600px) {

}

/* Desktop grande (até 1280px) */
@media (max-width: 1280px) {
  .quiz-container{
    margin: 3% 25%;
  }
}

/* Notebook / Tablet grande (até 1024px) */
@media (max-width: 1024px) {
  
}

/* Tablet (até 768px) */
@media (max-width: 768px) {

}

/* Mobile grande (até 576px) */
@media (max-width: 576px) {
    .quiz-container{
        margin: 5% 15%;
    }
    .pergunta{
        border: 2px solid;
    }
}

/* Mobile médio (até 480px) */
@media (max-width: 480px) {
  .pergunta{
    border: 1px solid;
  }
  .resposta{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

/* Mobile pequeno (até 320px) */
@media (max-width: 320px) {
    .quiz-container{
        margin: 2% 10%;
    }
    .resposta{
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 0;
        padding-right: 10px;
        width: 100%;
        gap: 10%;
    }
    .opcoes{
        padding: 10% 20%;
        gap: 0;
    }
}