:root {
    --cor-principal: #2f3132;
    --cor-secundaria: #d8a15b;
    --cor-terciaria: #e3b67a;
    --cor-texto: #333;
    --cor-fundo: #8c8e8f;
    --cor-fundo-div: #f0f0f0de;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background-color: var(--cor-fundo);
    height: 100vh;
    width: 100%;
}

/* Father of divs */

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 20px;

    position: relative;
    top: 25%;
    margin: 0 50px;
}

.coluna1,
.coluna2 {
    height: 100%;
    width: 400px;
}

/* Left div */

.divBemvindo {
    border: #2f3132 solid 2px;
    background-color: var(--cor-fundo-div);
    border-radius: 20px;
    padding: 50px 20px;
    flex: 1;
    height: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: showLeft .5s ease-out;
    box-shadow: 0px 4px 8px #2f3132;
}

.bemvindoText {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
    text-shadow: 0px 2px #b4b4b4;
    width: 300px;
}

p {
    display: flex;
    text-align: center;
    margin-top: 10px;
    flex-grow: 2;


}

/* Right div */

ul {
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex-grow: 2;
    margin-top: 10px;

    align-items: center;
}


.comeceJa {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
    text-shadow: 0px 2px #b4b4b4;
}

.divBotoes {
    background-color: var(--cor-fundo-div);
    border: #2f3132 solid 2px;
    border-radius: 20px;
    padding: 50px 20px;
    flex: 1;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation: showRight .5s ease-out;
    box-shadow: 0px 4px 8px #2f3132;
}

.divBotoes box-icon {
    position: relative;
    right: 15px;
}

.divBotoes button {
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    box-shadow: 0px 4px 8px #2f3132;

    transform: translateY(0);
    transition: transform 0.4s ease-in;
}

.divBotoes button:hover{
    cursor: pointer;
    transform: translateY(-2px) scale(1.05);
    transition: transform 0.3s ease-out;

    color: #FFF;
}

.divBotoes button:hover  box-icon{
    fill: #FFF;
}

.startquiz-btn {
    background-color: #d8a15b;
}

.gramatica-btn, .criadores-btn{
    background-color: #e3b67a;
}


@keyframes showRight {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes showLeft {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}