:root {
    --cor-principal: #2f3132;
    --cor-secundaria: #d8a15b;
    --cor-terciaria: #e3b67a;
    --cor-texto: #333;
    --cor-fundo: #8c8e8f;
    --cor-fundo-div: #fefefede;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    background-color: var(--cor-fundo);
    height: 100vh;
}

/* Father of divs */

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 20px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;

    position: relative;
    top: 25%;
}

/* Left div */

.divBemvindo {
    max-width: 500px;
    border: #2f3132 solid 2px;
    background-color: var(--cor-fundo-div);
    border-radius: 20px;
    padding: 50px 20px;
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bemvindoText {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
    text-shadow: 0px 2px #b4b4b4;
}

p {
    display: flex;
    text-align: center;
    margin-top: 10px;
    flex-grow: 2;


}

.linha {
    border-top: solid 2px #000;
    padding: 5px;
    transform: rotate(90deg);
    width: 350px;

    position: absolute;
    left: 170px;
}

/* Right div */

ul {
    list-style: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
    flex-grow: 2;
    margin-top: 10px;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;

}

.divBotoes {
    max-width: 500px;
    border: #2f3132 solid 2px;
    background-color: var(--cor-fundo-div);
    border-radius: 20px;
    padding: 50px 20px;
    flex: 1;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 340px;
}

.comeceJa {
    display: flex;
    justify-content: center;
    position: relative;
    top: -25px;
    text-shadow: 0px 2px #b4b4b4;;
}

svg {
    position: relative;
    top: 4px;
    right: 10%;
}

.startquiz-btn {
    background-color: #d8a15b;
    padding: 10px 70px 14px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

    width: 300px;
    text-align: center;
}
.startquiz-btn:hover{
    cursor: pointer;
}

.gramatica-btn {
    background-color: #e3b67a;
    padding: 7px 70px 14px;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

    width: 300px;
}

.gramatica-btn:hover{
    cursor: pointer;
}

.criadores-btn {
    background-color: #e3b67a;
    padding: 7px 70px 14px;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

    width: 300px;
    align-items: center;
    justify-content: center;
    display: fle;
}

.criadores-btn:hover{
    cursor: pointer;
}