p {
        width: 90%;     
        max-width: 800px; 
        margin: 0 auto; 
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        text-align: center;

    }
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    padding-bottom: 700px;
    
}
button {
    background: none;    
    border: none;
    cursor: pointer;
    -webkit-appearance: none; 
    -moz-appearance: none;   
    appearance: none;         
    outline: none;   
}

ul li{
    display: flex;
    justify-content: center;
    
    
    width: 100%;
    
}
.bemvindoSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    line-height: 25px;
}
.bemvindoText{
    padding-bottom: 10px;
}

.text-btn{
    color: #FFF;
    font-size: 20px;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.sectext-btn{
    color: #000;
}
.startquiz-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 15%;
    border-radius: 50px;

    background-color: #9f4cee;
    padding: 20px;
    text-decoration: none;

    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.gramatica-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 13%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;

    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.tentativa-btn{
    display: flex;
    justify-content: center;

    border: 1px solid #000;
    width: 10%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;

    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.criadores-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 8%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;

    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}





@media(max-width: 430px){
    p {
        width: 90%;     
        max-width: 800px; 
        margin: 0 auto;  
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        text-align: center;
    }
    bottom{
        -webkit-appearance: none; 
        -moz-appearance: none;   
        appearance: none;         
        outline: none;
    }
    ul{

        padding-bottom: 500px;
    }

    ul li{
        padding: 0;
    }
    .bemvindoSection{
        width: calc(100% - 40px); 
        margin: 0 20px;
        flex-direction: column;
    }

    .sectext-btn{
        font-size: 15px;
    }

    .startquiz-btn{
        width: 50%;
        margin-top: 20px;
    }
    .gramatica-btn{
        width: 45%;
    }
    .tentativa-btn{
        width: 42%;
    }

    .criadores-btn{
        width: 30%;
    }
}