p {
    width: 90%;     
    max-width: 800px; 
    margin: 0 auto; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    text-align: center;

    }
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    padding-bottom: 700px;
    
}
button {
    background: none;    
    border: none;
    cursor: pointer;
    -webkit-appearance: none; 
    -moz-appearance: none;   
    appearance: none;         
    outline: none;   
}

ul li{
    display: flex;
    justify-content: center;
    
    
    width: 100%;
    
}



.bemvindoSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    line-height: 25px;
}
.bemvindoText{
    padding-bottom: 10px;
}
.divBotoes{
    padding: 0 10% 700px;
}

.text-btn{
    color: #FFF;
    font-size: 20px;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    font-weight: bold;
}

.sectext-btn{
    color: #000;
    font-weight: bold;
}
.startquiz-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 15%;
    border-radius: 50px;

    background-color: #9f4cee;
    padding: 20px;
    text-decoration: none;

    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.gramatica-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 13%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;

    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.tentativa-btn{
    display: flex;
    justify-content: center;

    border: 1px solid #000;
    width: 10%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;

    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.criadores-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 8%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;

    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}


/* Mobile pequeno */
@media (max-width: 480px) {

    ul li{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 0;
    }
    .bemvindoSection{
        width: calc(100% - 40px); 
        margin: 0 20px;
        flex-direction: column;
        font-size: 15px;
        line-height: 20px;
    }

    .sectext-btn{
        font-size: 15px;
        
    }
    .divBotoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .startquiz-btn{
        display: flex;
        width: 50%;
        margin-top: 20px;

        
    }
    .gramatica-btn{
        width: 40%;
    }
    .tentativa-btn{
        width: 35%;
    }

    .criadores-btn{
        width: 30%;
    }
}

/* Mobile médio / grande */
@media (min-width: 576px) {
  ul li{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 0;
    }
    .bemvindoSection{
        width: calc(100% - 40px); 
        margin: 0 20px;
        flex-direction: column;
        font-size: 15px;
        line-height: 20px;
    }

    .sectext-btn{
        font-size: 15px;
        
    }
    .divBotoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .startquiz-btn{
        display: flex;
        width: 50%;
        margin-top: 20px;
        
    }
    .gramatica-btn{
        width: 40%;
    }
    .tentativa-btn{
        width: 35%;
    }

    .criadores-btn{
        width: 30%;
    }
}

/* Tablet */
@media (min-width: 768px) {
    .divBotoes{
        margin-top: 30px;
    }
    .bemvindoSection{
        width: calc(100% - 40px); 
        margin: 0 20px;
        flex-direction: column;
        font-size: 15px;
        line-height: 20px;
  }

    .sectext-btn{
        font-size: 15px;
        
    }
    .divBotoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .startquiz-btn{
        display: flex;
        width: 40%;
        margin-top: 20px;
        
    }
    .gramatica-btn{
        width: 30%;
    }
    .tentativa-btn{
        width: 25%;
    }

    .criadores-btn{
        width: 20%;
    }
}

/* Notebook pequeno ou tables */
@media (min-width: 992px) {
  ul li{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .bemvindoSection{
        width: calc(100% - 40px); 
        margin: 0 20px;
        flex-direction: column;
        font-size: 15px;
        line-height: 20px;
    }

    .sectext-btn{
        font-size: 15px;
    }
    .divBotoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
    }

    .startquiz-btn{
        display: flex;
        width: 50%;
        margin-top: 20px;

    }
    .gramatica-btn{
        width: 40%;
    }
    .tentativa-btn{
        width: 35%;
    }

    .criadores-btn{
        width: 30%;
    }
}

/* Notebook médio / desktop */
@media (min-width: 1200px) {
  ul li{
        display: flex;
        
        gap: 10px;
        width: 100%; 
        
    }
    .bemvindoSection{
        margin: 0 20px;
        font-size: 15px;
        line-height: 20px;
    }

    .sectext-btn{
        font-size: 15px;
    }
    .divBotoes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 20%;
        height: 100%;
        
    }

    .startquiz-btn{
        display: flex;
        width: 50%;
        margin-bottom: 10px;
        
    }
    .gramatica-btn{
        width: 40%;
        margin-bottom: 10px;
    }
    .tentativa-btn{
        width: 35%;
        margin-bottom: 10px;
    }

    .criadores-btn{
        width: 30%;
        margin-bottom: 10px;
    }
}

/* Desktop grande */
@media (max-width: 1600px) {
  ul li{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        padding: 0;
    }
    .bemvindoSection{
        width: calc(100% - 40px); 
        margin: 0 20px;
        flex-direction: column;
        font-size: 15px;
        line-height: 20px;
    }

    .sectext-btn{
        font-size: 15px;
        
    }
    .divBotoes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;

    }

    .startquiz-btn{
        display: flex;
        width: 50%;
        margin-top: 20px;

    }
    .gramatica-btn{
        width: 40%;
    }
    .tentativa-btn{
        width: 35%;
    }

    .criadores-btn{
        width: 30%;
    }
}
