
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    padding-bottom: 700px;
    
}
button {
  background: none;    
  border: none;        
}

ul li{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    padding: 0 5%;
}

.text-btn{
    color: #FFF;
    font-size: 20px;
}
.startquiz-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 15%;
    border-radius: 50px;

    background-color: #9f4cee;
    padding: 20px;
    text-decoration: none;
}

.gramatica-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 13%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;
}

.tentativa-btn{
    display: flex;
    justify-content: center;

    border: 1px solid #000;
    width: 10%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;
}

.criadores-btn{
    display: flex;
    justify-content: center;
    
    border: 1px solid #000;
    width: 8%;
    border-radius: 50px;
    padding: 20px;
    background-color: #a04cee81;
    text-decoration: none;
}



button{
    cursor: pointer;
}

.bemvindoSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
    line-height: 25px;
}

.bemvindoText{
    padding-bottom: 10px;

}

/* @media(max-width: 500px){
    ul li{
        padding: 0;
    }

    .startquiz-btn{
        width: 30%;
    }
} */