:root {
  --cor-principal: #2f3132;
  --cor-secundaria: #d8a15b;
  --cor-terciaria: rgba(227, 182, 122, 0.7);
  --cor-texto: #333;
  --cor-fundo: #8c8e8f;
}

header{
  background-color: var(--cor-principal);
  width: 100%;
  padding: 0 20px;
  height: 90px;
  margin: 0;
  color: var(--cor-secundaria);
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.46);
  font-size: 25px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.46);

  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  gap: 8px; 
  position: relative;
  animation: slide 0.5s ease-in-out;
  letter-spacing: 2px;
}

header a{
  font-size: 20px;
  color: var(--cor-secundaria);
  text-decoration: none;
  text-shadow: 2px 3px 10px rgba(0, 0, 0, 0.46);
  transition: all 0.3s ease;
  display: inline-flex; 
  align-items: center; 
  gap: 8px; 
  letter-spacing: 0px;
}

header a:hover {
  transform: scale(1.1);
  color: #ff9100;
  text-shadow: 2px 3px 15px rgba(255, 145, 0, 0.4);
}

.bar {
  background-color: var(--cor-secundaria);
  width: 35%;
  height: 3px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(216, 161, 91, 0.3); 
  animation: expandBar .8s ease-out;
}

@keyframes expandBar {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 35%;
    opacity: 1;
  }
}

box-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px; 
  height: 24px;
}

box-icon:hover {
  transform: scale(1.1);
}

@keyframes slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.menu{
  position: absolute; 
  right: 20px;
  top: 50%;
  transform: translateY(-50%); 
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 480px) {
  header{
    font-size: 15px;
  }
  header a{
    font-size: 13px;
    }
  .menu{
    padding: 8px 0px;
  }
}

/* Mobile médio / grande */
@media (max-width: 576px) {
  
}

/* Tablet */
@media (max-width: 768px) {
  body { font-size: 16px; }
}

/* Notebook pequeno */
@media (max-width: 992px) {
  body { font-size: 17px; }
}

/* Notebook médio / desktop */
@media (max-width: 1200px) {
  body { font-size: 18px; }
}

/* Desktop grande */
@media (max-width: 1600px) {
  body { font-size: 19px; }
}
