:root {
    --cor-principal: #2f3132;
    --cor-secundaria: #d8a15b;
    --cor-terciaria: #e3b67a;
    --cor-texto: #333;
    --cor-fundo: #8c8e8f;
    --cor-fundo-div: #f0f0f0de;
}


main {
    height: 100vh;
    /* garante que o body ocupe toda a altura */
    width: 100vw;

}


.boasvindas {
    margin: 30px auto 0;
    width: 1200px;
    font-size: 22px;
    font-weight: bold;

    animation: showUp 0.7s ease-in-out;
}


/* Primeira div */
.firstDiv {
    position: relative;
    top: 100px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;

    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: showUp 1s ease-in-out;
}

.firstDiv p {
    margin: 30px 0% 20px;
    font-size: 25px;
}

.firstDiv div {
    height: auto;
    border: #2f3132 2px solid;
    background-color: var(--cor-fundo-div);
    border-radius: 20px;
    margin-bottom: 20px;
}

.firstDiv ul {
    height: 80%;
    gap: 5px;
    margin: 0px 0 30px;
}

.firstDiv button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 50px;

    border-radius: 25px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0px 4px 8px #2f3132;

    transition: transform 0.4s ease-in-out;
    transform: translateY(0);

}

.firstDiv button:hover {
    transform: translateY(-2px) scale(1.05);
    transition: transform 0.3s ease-out;
    color: #FFF;
}

.tempoVerbal-btn {
    background-color: var(--cor-secundaria);
}

.pronomes-btn,
.modalVerbs-btn {
    background-color: var(--cor-terciaria);
}

/* Divs que surgirao */

.container {
    height: 500px;
    width: calc(100vw - 20px);
    margin: 0;
    position: relative;
    top: 150px;

}



.botoes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.botoes-container.animate {
    animation: pop 0.5s ease-in-out forwards;
}

/* Para todos os botoes do tempo verbal */

.botoes-container button {
    height: 50px;
    width: 200px;
    margin-bottom: 40px;
    border: var(--cor-principal) 2px solid;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: #e3b67a;
    cursor: pointer;
    box-shadow: 0px 3px 5px var(--cor-texto);
    transition: transform 0.4s ease-in-out;
    transform: translateY(0);
}

.botoes-container button:hover {
    transform: translateY(-2px) scale(1.05);
    transition: transform 0.3s ease-out;
    background-color: var(--cor-secundaria);
}

.botoes-container button:active {
    background-color: var(--cor-terciaria);
}

.tempoVerbal {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 5px;
    margin: 0 auto 20px;
    width: 300px;
    border-bottom: #000 2px solid;
}

.tempoVerbal.animate {
    animation: showUp 0.8s ease;
}

/* Cada botao do tempo verbal */
.simplePast-btn:hover {
    color: #ff0000b4;
}

.presentContinuous-btn:hover {
    color: #eeff00b4;
}

.simplePresent-btn:hover {
    color: #15ff00b4;
}

.simpleFuture-btn:hover {
    color: #0011ffb4
}


.divPrincipal.animate {
    animation: showUp 0.8s ease;

}



.subDivs {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: center;
    gap: 20px;

}

.coluna {
    width: 30%;
    height: 350px;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: var(--cor-principal) 2px solid;
    border-radius: 20px;
    background-color: #fefefe80;
    padding: 0px 15px;
    box-shadow: 0px 4px 8px #2f3132;
    margin-bottom: 50px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 15px;
    color: #FFF;
    text-shadow: 0px 2px 3px #000;

}

.explicacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}




/* PRONOMES */

hr {
    border: none;
    background-color: #000;

    margin: 10px 0 10px;
}

.button-pronomes {
    height: 200px;
    top: 100px;

    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
}


.button-pronomes.animate {
    animation: pop 0.5s ease-in-out forwards;
}

.button-pronomes ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   
}

.button-pronomes button {
    height: 50px;
    width: 150px;
    border-radius: 25px;
    background-color: var(--cor-terciaria);
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    transform: translateY(0);
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 3px 5px #2f3132;
    padding: 0 20px;

}

.button-pronomes button:hover {
    background-color: var(--cor-secundaria);
    transform: translateY(-2px) scale(1.05);
    transition: transform 0.3s ease-out;
    color: #FFF;
}

.container-pronomes {
    border: #000 solid 1px;
    border-radius: 20px;
    width: 700px;

    margin: 0 auto 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    height: 300px;


    position: relative;
    top: 100px;

    background-color: #fefefe80;
    box-shadow: 0px 4px 8px #2f3132;

}

.container-pronomes.animate {
    animation: showUp 0.6s ease;
}



.container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}


.container-pronomes strong {
    color: var(--cor-secundaria);
    text-shadow: 0px 1px 3px #000;
}

.tipePronouns {
    position: absolute;
    top: 15px;
    left: 15%;
    text-shadow: 0px 1px 1px #000;
    width: 500px;
    text-align: center;
}

.pronouns1 {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 10px 30px;
    gap: 70px;

}

.pronouns2 {
    display: flex;
    flex-direction: column;
    margin-right: 5px;

}

.pronouns3 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.pronouns4 {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.pronouns1Demonstrative {
    display: flex;
    flex-direction: column;
    padding: 30px 15px 30px 30px;
    gap: 20px;
}



/* Animaçoes */
@keyframes pop {
    0% {
        transform: scale(1);

    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);

    }
}

@keyframes showUp {
    0% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

footer{
    height: 100px;
}