:root {
  --cor-principal: #2f3132;
  --cor-secundaria: #d8a15b;
  --cor-terciaria: #e3b67a;
  --cor-texto: #333;
  --cor-fundo: #8c8e8f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: var(--cor-fundo);
    font-family: sans-serif;
}