:root {
  --cor-principal: #2f3132;
  --cor-secundaria: #d8a15b;
  --cor-terciaria: rgba(227, 182, 122, 0.7);
  --cor-texto: #333;
  --cor-fundo: #8c8e8f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: sans-serif;
}